
.Card{
    width: 35%;
    justify-content: flex-start;
    height: auto;
}

.cardContent{
    display: flex;
    flex-flow: column;
}

.service{
    height: 40px;
    width: 100px;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    display: flex;
    color: black;
}

.adminBtns{
    display: flex;
    flex-flow: row;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 0.5rem;
}

.typography{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    column-gap: 0.3rem;
    width: 60%;
}

.name{
    display: flex;
    align-self: center;
}

.age{
    display: flex;
    align-self: center;
}

.adminBtn{
    background-color: var(--secondary-color);
    color: var(--main-color);
    border-radius: 5px;
}

.adminBtn:hover{
    background-color: white;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

@media screen and (max-width: 1250px) and (min-width: 650px){
    .Card{
        flex-flow: column;
        width: 45%;
    }

    .typography{
        column-gap: 0.1rem;
    }
}

@media screen and (max-width: 650px) and (min-width: 540px){
    .Card{
        flex-flow: column;
        width: 55%;
    }
}

@media screen and (max-width: 540px) and (min-width: 440px){
    .Card{
        flex-flow: column;
        width: 65%;
    }

    .typography{
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 440px) and (min-width: 380px){
    .Card{
        flex-flow: column;
        width: 75%;
    }

    .typography{
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 380px){
    .Card{
        flex-flow: column;
        width: 85%;
    }

    .typography{
        font-size: 0.5rem;
    }
}   