.Form{
    display: flex;
    flex-flow: column;
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 1%;
    border-radius: 1%;
    height: auto;
    row-gap: 1rem;
}

.formInput{
    height: 55px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--secondary-color);
    border: 0.05px solid var(--main-color);
    color : var(--main-color);
}
