.Home{
    min-height: 80vh !important;
    height: 60vh!important;
}

.welcome{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin-top: 10%;
    min-height: 80vh !important;
}

.displayRandomBtn{
    background-color: var(--secondary-color) !important;
    color: var(--main-color) !important;
    margin-top: 2% !important;
    height: 40px;
}

.displayRandomBtn:hover{
    background-color: var(--main-color) !important;
    color: var(--secondary-color) !important;
    border: 2px solid var(--secondary-color) !important;
}

@media screen and (max-width: 650px) and (min-width: 500px){
    .welcome{
        margin-top: 20%;
    }
}

@media screen and (max-width: 500px){
    .welcome{
        margin-top: 30%;
    }

    h1{
        font-size: 2rem !important;
    }

    .displayRandomBtn{
        width: 80%;
        font-size: 0.7rem !important;
        margin-top: 5% !important;
    }
}