nav{
    display: flex;
    flex-flow: row;
    background-color: var(--secondary-color);
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 1%;
    padding-right: 1%;
    color: var(--main-color);
    position: fixed;
    width: 100%;
    top: 0;
}

.navLogo{
    display: flex;
    flex-flow: row;
    column-gap: 6%;
}

.intranetLogo{
    width: 60px;
    height: 60px;
}

.links{
    display: flex;
    flex-flow: row;
    column-gap: 2rem;
    align-items: center;
}

.links .navLink{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navLink{
    color: var(--main-color);
}

.navLink:hover{
    color: var(--main-color);
}

.userPic{
    width: 60px;
    border-radius: 50%;
}

.navIcon{
    cursor: pointer;
}